.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.margin-class {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}

.filters-container {
  height:100% !important;
}

.input-option {
  float: left;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 50%;
  background: rgba(0, 0, 0, 0.5);
  color: #F1F1F1;
  width: 20%;
  padding: 20px;
  left: 40%;
}